.popup__container {
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 900px) {
  .popup__container {
    min-width: 282px;
    margin-top: 123px;
  }
}
