.popup__save {
  border-radius: 2px;
  background-color: #000;
  min-width: 358px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  padding: 0;
  border: 0;
  margin: 48px auto 37px;
  padding: 12px 0 16px;
  transition: opacity linear 0.2s;
}

.popup__save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  .popup__save {
    margin: 45px auto 25px;
    min-width: 238px;
    font-size: 14px;
    line-height: 17px;
    padding: 14px 0 14px;
  }
}
