.element__button {
  background-image: url(../../../images/element-like.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  min-width: 22px;
  min-height: 19px;
  padding: 0;
  transition: opacity linear 0.2s;
}

.element__button:hover {
  opacity: 0.5;
}
